.profile__img {
    width: 80px;
    border-radius: 30px;
}

.user__nick {
    font-size: 18px;
}

.user__name {
    font-size: 14px;
    color: #aaa;
}

.tier__rank {
    font-size: 18px;
}

.tier__lp {
    font-size: 14px;
    color: #aaa;
}

.level span:nth-child(1) {
    color: #aaa;
}

.position {
    align-self: center;
}

.position {
    width: 50px;
}

.position img {
    width: 50px;
}


