.profileItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    margin: 16px auto 16px auto;
}

.profileItem div {
    display: flex;
    align-self: center;
}

.rank {
    justify-content: center;
    width: 40px;
    text-align: center;
    margin-right: 10px;
}

.profile {
    width: 80px;
}

.profile__img {
    width: 80px;
    border-radius: 30px;
}

.user {
    flex-direction: column;
    width: 160px;
    padding-left: 20px;
}

.user__nick {
    font-size: 18px;
}

.user__name {
    font-size: 14px;
    color: #aaa;
}

.tier {
    flex-direction: column;
    width: 100px;
}

.tier__rank {
    font-size: 18px;
}

.tier__lp {
    font-size: 14px;
    color: #aaa;
}

.level {
    flex-direction: row !important;
    width: 80px;
}

.level span:nth-child(1) {
    color: #aaa;
}

.gameInfo {
    width: 80px;
    flex-direction: column;
}

.gameInfo .matches {
    font-size: 14px;
    color: #aaa;
}

.position {
    align-self: center;
}

.position {
    width: 50px;
}

.position img {
    width: 50px;
}

@media screen and (max-width: 768px) {
    .profileItem {
        width: 100%;
    }
}


