.profileHead {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    height: 40px;
}

.profileHead div {
    display: flex;
    align-self: center;
    justify-content: center;
}

div img {
    width: 14px;
}

div button {
    display: inline-block;
    width: auto;
    padding: 0;
    border: 1px solid #332100;
    border-radius: 6px;
    background-color: #fff;
}

div button:hover {
    background-color: #aaaaaa;
}

div .active {
    background-color: #C8AA6E;
}

.head__rank {
    width: 40px;
    margin-right: 10px;
}

.head__profile {
    width: 80px;
}

.head__user {
    width: 160px;
    padding-left: 20px;
}

.head__tier {
    width: 100px;
}

.head__level {
    width: 80px;
}

.head__gameInfo {
    width: 80px;
}

@media screen and (max-width: 768px) {
    .profileHead {
        width: 100%;
    }
}