.profileHead {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    height: 40px;
}

.profileHead div {
    display: flex;
    align-self: center;
}

.profileHead div span {
    margin-right: 6px;
}

div img {
    width: 14px;
}

div button {
    display: inline-block;
    width: auto;
    padding: 0;
    border: 1px solid #332100;
    border-radius: 6px;
    background-color: #fff;
}

div button:hover {
    background-color: #aaaaaa;
}

div .active {
    background-color: #C8AA6E;
}

.head__rank {
    justify-content: center;
    width: 40px;
    margin-right: 10px;
}

.head__profile {
    justify-content: center;
    width: 80px;
}

.head__user {
    width: 160px;
    padding-left: 20px;
}

.head__tier {
    width: 100px;
}

.head__level {
    width: 80px;
}

.head__gameInfo {
    width: 80px;
}

.head__position {
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .profileHead {
        width: 100%;
        font-size: 10px;
    }

    .profileHead p {
        text-align: center;
        margin-bottom: 2px;
    }

    .profileHead div button {
        width: 16px;
        height: 16px;
        border-radius: 6px;
    }

    .head__rank {
        width: 30px;
    }

    .head__profile {
        width: 110px;
    }

    .head__user {
        display: none !important;
    }

    .head__tier {
        width: 80px;
        flex-direction: column;
    }

    .head__level {
        width: 50px;
        flex-direction: column;
    }

    .head__gameInfo {
        width: 44px;
        flex-direction: column;
    }

    .head__position {
        width: 30px;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .profileHead {
        width: 100%;
        font-size: 12px;
    }

    .profileHead div button {
        width: 20px;
        height: 20px;
        border-radius: 6px;
    }

    .head__profile {
        width: 60px;
    }

    .head__user {
        width: 130px;
    }

    .head__tier {
        width: 70px;
    }

    .head__level {
        width: 70px;
    }

    .head__gameInfo {
        width: 70px;
    }

    .head__position {
        width: 40px;
        margin-right: 20px;
    }
}