.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 100px 10px 100px;
  margin: 0 0 20px 0;
  height: 80px;
  background-color: bisque;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 20px 0px
}

.header__img {
  width: 60px;
  height: 60px;
  padding: 0 20px 0 0;
}

.header__text span:nth-child(1) {
  font-size: 28px;
  color: #aaa;
}

.header__text span:nth-child(2) {
  font-size: 28px;
  color: #C8AA6E;
}

.header__text span:nth-child(4) {
  font-weight: 300;
  font-size: 16px;
}

@media screen and (max-width: 768px){
  .header {
    padding: 0 0 0 20px;
  }
}