//@import "src/globals";

.profileTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  tr {
    border-bottom: 1px #e0e0e0 solid;
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    &:last-child {
      border: none;
    }
  }


  .rank, .position {
    text-align: center;
  }

  th, td {
    padding-inline: 10px;
  }

  th {
    text-align: left;
    height: 30px;


    p {
      font-size: 15px;
      font-weight: 300;
      color: #9e9e9e;

      svg {
        width: 15px;
        height: 15px;
        transform: translateY(2px);

        &.reverse {
          transform:  rotate(180deg);
        }
      }
    }

    &.rank {
      width: 8%;
    }

    &.profile {
      width: 39%;
    }

    &.tier {
      width: 17%;
    }

    &.level {
      width: 15%;
    }

    &.winrate {
      width: 10%;
    }

    &.position {
      width: 11%;
    }

    &.clickable {
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }
  }

  td {
    height: 90px;

    &.profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 15px;
      }
    }

    &.position img {
      height: 40px;
      width: 40px;
    }

  }

  a {
    text-decoration: none;
  }

  .extra {
    font-size: 17px;
  }

  .big {
    font-size: 16px;
    font-weight: 300;
  }

  .medium {
    font-size: 15px;
    font-weight: 300;
  }

  .small {
    font-size: 13px;
    font-weight: 200;
  }

  .dark {
    color: #545454;
  }

  .light {
    color: #a8a8a8;
  }
}

.loader {
  margin-top: calc(50vh - 237px);
  margin-inline: auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #a8a8a8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
