.header {
	padding: 10px 0 10px 20px;
	margin: 0 0 10px 0;
	height: 50px;
	font-size: 35px;
	border-bottom: 3px solid #F3CB3A;
	background: #f2f2f2;
}

.bee_img {
	margin-right: 10px;
	width: 50px;
	float: left;
}

.logo_text{
	margin: 0;
}

.logo_text:nth-child(2) {
	float: left;
}

.logo_text:nth-child(3) {
	color: #FFCB00;
}