.profileItem {
    background: #ffffff;
}

th {
    width: 100px;
    height: 30px;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

td:last-child {
    border-radius: 0 20px 20px 0;
}

/* index */
th:nth-child(1) {
    width: 30px;
}

td:nth-child(1) {
    border-radius: 20px 0 0 20px;
    width: 30px;
}

.profileImg {
    height: 80px;
    margin: auto 0 auto 0;
    border-radius: 50%;
}

/* nick name */
th:nth-child(3) {
    width: 120px;
}

td:nth-child(3) {
    width: 120px;
}

/* 학번, 이름 */
th:nth-child(4) {
    width: 120px;
}

td:nth-child(4) {
    width: 120px;
}

/* 티어 */
th:nth-child(5) {
    width: 140px;
}

td:nth-child(5) {
    width: 140px;
}

/* 레벨 */
th:nth-child(6) {
    width: 80px;
}

td:nth-child(6) {
    width: 80px;
}

/* 승, 패수 */
th:nth-child(7) {
    width: 140px;
}

td:nth-child(7) {
    width: 140px;
}

/* 승률 */
th:nth-child(8) {
    width: 80px;
}

td:nth-child(8) {
    width: 80px;
}

/* 포지션 */
th:nth-child(9) {
    width: 60px;
}

td:nth-child(9) {
    width: 60px;
}

.gameLog {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    margin: auto 0 auto 0;
    background: #ee5a52;
    color: #ffffff;
}

.winBox {
    height: 25px;
    border-radius: 4px 0 0 4px;
    background: #6482e4;
}

.winNumber {
    position: absolute;
    left: 10px;
}

.lossNumber {
    position: absolute;
    right: 10px;
}

.positionImg {
    height: 40px;
    margin: auto 0 auto 0;
}

@media (max-width:768px) {
    th:nth-child(6) {
        display: none;
    }
    
    td:nth-child(6) {
        display: none;
    }
    
    th:nth-child(7) {
        display: none;
    }
    
    td:nth-child(7) {
        display: none;
    }
}

@media (max-width: 478px) {
    .profileImg {
        height: 60px;
    }

    th:nth-child(8) {
        display: none;
    }
    
    td:nth-child(8) {
        display: none;
    }
}