.searchBar {
    width: 848px;
    position: relative;
    margin: 0 auto 10px auto;
}

.searchInput {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #a5a5a5;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

@media screen and (max-width:848px) {
    .searchBar {
        width: 100%;
    }
}