.SelectCategory {
    display: flex;
    justify-content: space-between;
    width: 848px;
    margin: 80px auto 0 auto;
}

@media screen and (max-width: 848px) {
    .SelectCategory {
        width: 100%;
    }
}
