.toolBar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin: 0 auto;
  padding: 130px 2px 20px;
  box-sizing: border-box;

  .tab {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  button.primary {
    background-color: #eab635;
    border-color: #eab635;
    color: #ffffff;
  }

}
