.toolBar {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
}

.toolBar select {
    width: 70px;
    height: 24px;
    margin: 0 4px 0 4px;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
}

.toolBar select option {
    color: #223254;
}

.toolBar select:focus {
    outline: none;
    border-color: #ffc966;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.toolBar button {
    padding: 2px 4px 2px 4px;
    margin: 0 2px 0 2px;
    border-color: #aaa;
}

.toolBar button:hover {
    background-color: #E8EAED;
}

@media screen and (max-width: 768px) {
    .toolBar {
        width: 100%;
    }
}