section {
    /*max-width: 768px;*/
    margin: auto;

    width: 80vw;
    max-width: 1080px;
    min-width: 720px;
    min-height: calc(100vh - 130px);

    display: flex;
    flex-direction: column;
    align-items: center;
}
