@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    height: 100%;
    background: #fbfbfb;
}

p {
    margin: 0;
    padding: 0;
}
