@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  height: 100%;
  background: #fbfbfb;
}

p {
  margin: 0;
  padding: 0;
}

input, button, select {
  //-webkit-appearance: none;
  appearance: none;
  padding: 0 8px 0;
  margin: 0;
  border: 1px solid #dbdbdb;
  height: 38px;
  width: 70px;
  font-size: 12px;
  color: #737373;
  background-color: #eeeeee;
  border-radius: 5px;
  transition: box-shadow .2s ease;
  box-sizing: border-box;

  &:focus {
    outline: none;
    //border: 1px solid #d6d6d6;
    border: 1.9px solid #f6d172;
    box-shadow: 0 0 10px 1px #e6e6e6;
  }

  &:hover {
    filter: brightness(97%);
  }

  &:active {
    filter: brightness(93%);
  }
}

select {
  background-image: url("img/sort.svg") ;
  background-repeat: no-repeat;
  background-position: center right 7px;
  background-size: 12px 12px;

  option {
    border-radius: 0;
  }
}

button {
  cursor: pointer;

  &.primary {
    background-color: #eab635;
    border-color: #eab635;
    color: #ffffff;
  }
}
