.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.5);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 350px;

  background: #FFF;
  border-radius: 10px;
  padding: 25px;

  z-index: 20;

  display: flex;
  flex-direction: column;
  //gap: 10px;

  .title {
    color: #545454;
    font-size: 20px;
  }

  .content {
    padding-top: 10px;

    & > div {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      &.buttons {
        margin-top: 10px;
        justify-content: space-between;

        button.wide {
          width: 80px;
        }
      }

      p {
        color: #7e7e7e;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 300;
        width: 70px;
        //text-align: right;
      }

      input, select {
        width: calc(100% - 80px);
      }
    }

    & > p {
      color: #9e9e9e;
      font-size: 11px;
      padding-left: 85px;
    }
  }
}

//.modal__null {
//    display: none;
//}
//
//.modal__background {
//    position: fixed;
//    left: 0;
//    top: 0;
//    width: 100%;
//    height: 100vh;
//    background-color: rgba(100, 100, 100, 0.5);
//    z-index: 10;
//}
//
//.center {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    height: 100%;
//}
//
//.modal {
//    background-color: #ffc966;
//    border-radius: 10px;
//    padding: 10px;
//    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
//}
//
//.modal__header {
//    display: flex;
//    justify-content: space-between;
//    border-bottom: 2px solid #C8AA6E;
//    margin-bottom: 10px;
//}
//
//.modal__header span {
//    font-size: 20px;
//}
//
//.modal__header button {
//    border: none;
//    width: 28px;
//    height: 28px;
//    line-height: 28px;
//    font-size: 24px;
//    background: none;
//    cursor: pointer;
//}
//
//.modal__header button:hover {
//    background: none;
//}
//
//
//
//.modal__input {
//    display: flex;
//    margin-bottom: 10px;
//}
//
//.modal__input div {
//    width: 100px;
//}
//
//.modal__button {
//    width: 100%;
//    height: 28px;
//    font-size: 18px;
//}
